@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.nav__logo {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 32px;
    line-height: 40.19px;
    letter-spacing: 0.05em;
    border: 1px solid #000000;
    letter-spacing: 5%;
    text-align: Center;
    color: #000000;
    margin-left: 10px;
}
.nav__right {
    h6 {
        font-family: 'Be Vietnam';
        color: rgba(48, 48, 48, 0.58);
        line-height: 31px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        .link {
            color: rgba(48, 48, 48, 0.58);
        }
    }
}
.handburger {
    display: none;
    cursor: pointer;
}

// Overlay 
.overlay {
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: #F092CB;
    transition: all 2s ease;
    h6 {
        font-family: 'Be Vietnam';
        color: black;
        line-height: 31px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        .link {
            color: black;
        } 
    }
    .cross {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
}

// Responsiveness
@media (max-width: 767.5px) {
    .handburger {
        display: block !important;
    }
    .nav__right {
        display: none !important;
    }
}