.footer__item {
    h2 {
        font-family: 'Be Vietnam';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 83px;
        color: #303030;
    }
    small {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }
}

.foot {
    small {
        font-style: normal;
        font-weight: 400;
        font-size: 15px; 
    }
}